

.editor {
    .controls {
        text-align: center;
        margin-top: 5px;

        #select-loaded-mod {
            min-width: 100px;
            max-width: fit-content;
        }

        #select-guid-type {
            width: 100px;
        }

        #path-to-read {
            width: 280px;
            text-align: center;
        }
    }
}

#trees {
    margin-top: 10px;
    padding: 0 50px;
    display: flex;
}

.file-window {
    display: inline-flex;
    border: 1px solid;
    height: calc(100vh - 41px);
    position: relative;
    white-space: initial;
    min-width: min(550px, max(500px, calc(100vw/3)));
}

.file-window:nth-child(3) {
    flex-grow: 1;
}

.jsontree-container {
    height: calc(100vh - 41px);
    resize: horizontal;
    overflow: auto;
    position: relative;
    white-space: initial;
    flex-grow: 1;
}

#saving-enabled-button {
    background-color: lightcoral;
}

#saving-enabled-button.saving-disabled { 
    background-color: lightgreen;
}

.editor-bar {
    text-align: center;
}

.doc-title {
    margin: 10px 0;

    h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    h3 {
        font-size: 18px;
    }
}

.copy-icon {
    font-size: .875em;
    margin-right: .125em;
    position: relative;
    top: -.25em;
    left: -.125em;
    cursor: pointer;

    span {
        position: absolute;
        top: .25em;
        left: .25em;
    }
}

.fav-icon {
    margin-left: 5px;
    font-size: 22px;
    color: red;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 3px;
    cursor: pointer;
}

.link-element {
    cursor: pointer;  
    color: blue;
    text-decoration: underline;
    font-family: monospace;

    &:hover {
        text-decoration-line: none;
    }
}

/* Modal */
.hidden {
    display: none !important;
}

.modal {
    display: flex;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: rgba(.7, .7, .7, .5);
}

.modal-content {
    position: relative;

    background-color: #FFFFFF;

    width: 600px;
    height: 600px;

    padding: 24px;
}

.modal h2 {
    font-size: larger;
}

.modal h3 {
    font-size: large;
}

.modal b {
    font-weight: bold;
}

.modal ul, .modal li {
    list-style: initial;
}

/* Before you start modal */
#load-modal {
    h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .modal-content {
        height: 200px;
        width: 800px;
    }

    button {
        font-size: 18px;
    }

    strong {
        font-weight: bold;
    }

    p {
        margin-bottom: 18px;
    }
}

#fav-modal, #rsearch-modal {
    h2 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 5px;
    }

    ul#fav-list {
        overflow-y: auto;
        max-height: calc(100% - 40px);
    }

    .controls {
        text-align: center;
        margin-bottom: 5px;
    }
}

#fav-modal {
    ul#fav-list {
        overflow-y: auto;
        max-height: calc(100% - 40px);
    }
}

#rsearch-modal {
    .modal-content {
        width: 1000px;
    }

    .controls {
        margin: 10px 0;
    }

    .rsearch-results-container {
        display: flex;
        height: calc(100% - 60px);
    }

    ul#rsearch-text-list {
        overflow-y: auto;
        word-wrap: break-word;
        height: 100%;
        width: calc(50% - 10px);
        margin-right: 20px;
    }

    #rsearch-result-view {
        ul {
            padding-left: 10px;
        }

        li {
            list-style: none;
        }
    }
}