#path-to-read {
    width: 500px;
}

#trees {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: pre;
}

.file-window {
    display: inline-flex;
    height: calc(100vh - 41px);
    position: relative;
    white-space: initial;
}

.jsontree-container {
    height: calc(100vh - 66px);
    top: 25px;
    resize: horizontal;
    overflow: auto;
    border: 1px solid;
    position: relative;
    white-space: initial;
}

.jsontree_tree {
    margin-top: 25px;
}

#saving-enabled-button {
    background-color: lightcoral;
}

#saving-enabled-button.saving-disabled { 
    background-color: lightgreen;
}

.doc-title {
    position: absolute;
    top: 8px;
    left: 3px;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 3px;
    cursor: pointer;
}

.link-element {
    cursor: pointer;  
    color: blue;
    text-decoration: underline;
}

.editor-bar {
    position: absolute;
}

/* Modal */
.hidden {
    display: none !important;
}

.modal {
    display: flex;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: rgba(.7, .7, .7, .5);
}

.modal-content {
    position: relative;

    background-color: #FFFFFF;

    width: 600px;
    height: 600px;

    padding: 24px;
}

.modal h2 {
    font-size: larger;
}

.modal h3 {
    font-size: large;
}

.modal b {
    font-weight: bold;
}

.modal ul, .modal li {
    list-style: initial;
}

/* Before you start modal */
#load-modal {
    h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .modal-content {
        height: 200px;
        width: 800px;
    }

    button {
        font-size: 18px;
    }

    strong {
        font-weight: bold;
    }

    p {
        margin-bottom: 18px;
    }
}